* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #01061f;
}

.calc {
  margin-top: 10px;
  width: 400px;
  background-color: #131826;
  color: white;
}

#screen {
  color: white;
  font-family: 'Inconsolata', monospace;
  font-size: 40px;
  text-align: right;
  padding: 20px 5px;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;
}

.calc-button {
  color: #011526;
  border-color: #011526;
  box-shadow: 0 0 40px #011526;
  height: 100px;
  width: 97px;
  border: none;
  border-radius: 0;
  font-family: 'Righteous', cursive;
  font-size: 40px;
  cursor: pointer;
}
.calc-button:hover{
 background: #011526;
 color: #f1f1f1;
}

.double {
  width: 49.7%;
}

.triple {
  width: 74.8%;
}

.calc-button:last-child {
  color: white;
  background: #011526;
  border: #011526;
  box-shadow: 2px 1px 15px #03738C;
}

.calc-button:last-child:hover {
  background: #05DBF2;
  color: #011526;
}

.calc-button:last-child:active {
	 background: #b1b1b1;
}

.calc-button-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.5%;
}

.calc-button-row:last-child {
  padding-bottom: 0;
}