* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #01061f;
}

.calc {
  margin-top: 10px;
  width: 400px;
  background-color: #131826;
  color: white;
}

#screen {
  color: white;
  font-size: 40px;
  text-align: right;
  padding: 20px 5px;
}

.calc-button {
  color: #131826;
  height: 100px;
  width: 97px;
  border: none;
  border-radius: 0;
  font-size: 40px;
  cursor: pointer;
}
.calc-button:hover{
 background: #2A2D40;
 color: #ffffff;
}

.double {
  width: 49.7%;
}

.triple {
  width: 74.8%;
}

.calc-button:last-child {
  color: white;
  background: #2A2D40;
}

.calc-button:last-child:hover {
  background: #b1b1b1;
  color: #171717;
}

.calc-button:last-child:active {
	 background: #b1b1b1;
}

.calc-button-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.5%;
}

.calc-button-row:last-child {
  padding-bottom: 0;
}